{% extends 'Format.twig' %}

{#{% form_theme formular 'bootstrap_4_layout.html.twig' %}#}

{% block body %}

    <div class="d-flex flex-row align-items-center justify-content-between mx-sm-3 top-margin-cal">
        <h1 class="badge badge-dark bottom-margin-cal xx-large-font">{{ Calendar.toString }}</h1>
        <div>
            <a class="fas fa-fast-backward xx-large-font black" href="{{ path('calendar',
                {year:Calendar.previousMonth.year, month:Calendar.previousMonth.month}) }}" role="button">
            </a>
            <a class="fas fa-fast-forward xx-large-font black" href="{{ path('calendar',
                {year:Calendar.nextMonth.year, month:Calendar.nextMonth.month}) }}" role="button">
            </a>
        </div>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-between mx-sm-3">
        {% if User is defined %}
            {% if (User.role == 'ROLE_ADMINISTRATOR' or User.role == 'ROLE_TENANT') %}
                {% if (CurrentYearInt == SelectedYearInt or NextYearInt == SelectedYearInt)
                    and (CurrentMonthInt == SelectedMonthInt or NextMonthInt == SelectedMonthInt) %}
                    {% if not User.isUserEnabled %}
                        <span class="badge-info-calendar">Compte utilisateur désactivé</span>
                    {% elseif User.isUserEnabled and User.isUserBlockedForInsolvency %}
                        <span class="badge-info-calendar xx-large-font">
                            Bloqué pour insolvabilité
                        </span>
                    {% elseif is_granted('ROLE_ADMINISTRATOR') %}
                        {% if CurrentMonthTotalOpenToSublease > 0 %}
                            {% if CurrentMonthTotalOpenToSublease > 1 %}
                                <span class="badge sublease-pill-badge evidenced x-large-font">{{ CurrentMonthTotalOpenToSublease }}
                                    prêts proposés
                                </span>
                            {% else %}
                                <span class="badge sublease-pill-badge evidenced x-large-font">
                                    Un prêt proposé
                                </span>
                            {% endif %}
                        {% else %}
                            <span class="badge sublease-pill-badge evidenced x-large-font">
                                Aucun prêt proposé pour le moment
                            </span>
                        {% endif %}
                    {% elseif is_granted('ROLE_TENANT') and not is_granted('ROLE_ADMINISTRATOR') %}
                        {% if CurrentMonthTotalOpenToSubleaseForTenant > 0 %}
                            {% if CurrentMonthTotalOpenToSubleaseForTenant > 1 %}
                                <span class="badge sublease-pill-badge evidenced x-large-font">
                                        {{ CurrentMonthTotalOpenToSubleaseForTenant }}
                                    nouveaux emprunts possibles
                                </span>
                            {% else %}
                                <span class="badge sublease-pill-badge evidenced x-large-font">
                                    Un nouvel emprunt possible
                                </span>
                            {% endif %}
                        {% else %}
                            <span class="badge sublease-pill-badge evidenced x-large-font">
                                Aucun nouvel emprunt possible pour le moment
                            </span>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% elseif (User.role == 'ROLE_ADMINISTRATOR' or User.role == 'ROLE_RENTER') %}
                {% if (CurrentYearInt == SelectedYearInt or NextYearInt == SelectedYearInt)
                    and (CurrentMonthInt == SelectedMonthInt or NextMonthInt == SelectedMonthInt) %}
                    {% if not User.isUserEnabled %}
                        <span class="badge-info-calendar">
                            Compte utilisateur désactivé
                        </span>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% else %}
            {% if (CurrentYearInt == SelectedYearInt or NextYearInt == SelectedYearInt)
                and (CurrentMonthInt == SelectedMonthInt or NextMonthInt == SelectedMonthInt) %}
                {% if CurrentMonthTotalOpenToSublease > 0 %}
                    {% if CurrentMonthTotalOpenToSublease > 1 %}
                        <span class="badge sublease-pill-badge evidenced x-large-font">{{ CurrentMonthTotalOpenToSublease }}
                            prêts proposés
                        </span>
                    {% else %}
                        <span class="badge sublease-pill-badge evidenced x-large-font">
                            Un prêt proposé
                        </span>
                    {% endif %}
                {% else %}
                    <span class="badge sublease-pill-badge evidenced x-large-font">
                        Aucun prêt proposé pour le moment
                    </span>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>

    <p class="bottom-margin-cal"></p>
    {% if User is defined %}
        {% if User.role == 'ROLE_RENTER' %}
            {% include 'RenterCalendar.twig' with
                {'Calendar' : Calendar, 'ParkingSubleaseRepository' : ParkingSubleaseRepository,
                    'User' : User, 'AllDays' : AllDays, 'Today' : Today,
                    'IsExistingOrHasExistedSubleaseByDayAndByUserList' : IsExistingOrHasExistedSubleaseByDayAndByUserList,
                    'TodayPlusOneMonth' : TodayPlusOneMonth, 'TakenDaysOfCurrentMonth' : TakenDaysOfCurrentMonth } only %}
        {% elseif User.role == 'ROLE_TENANT' %}
            {% include 'TenantCalendar.twig' with
                {'Calendar' : Calendar, 'ParkingSubleaseRepository' : ParkingSubleaseRepository, 'User' : User,
                    'AllDays' : AllDays, 'Today' : Today, 'IsSubleaseOpenedByDayList' : IsSubleaseOpenedByDayList,
                    'IsExistingTakenSubleaseByDayAndByTakerList' : IsExistingTakenSubleaseByDayAndByTakerList,
                    'TodayPlusOneMonth' : TodayPlusOneMonth, 'TakenDaysOfCurrentMonth' : TakenDaysOfCurrentMonth} only %}
        {% elseif is_granted('ROLE_ADMINISTRATOR') %}
            {% include 'AdministratorCalendar.twig' with
                {'Calendar' : Calendar, 'ParkingSubleaseRepository' : ParkingSubleaseRepository, 'User' : User,
                    'AllDays' : AllDays, 'OpenToSubleaseList' : OpenToSubleaseList,
                    'TakenOrOpenedSubleaseList' : TakenOrOpenedSubleaseList, 'Today' : Today,
                    'TakenDaysOfCurrentMonth' : TakenDaysOfCurrentMonth} only %}
        {% endif %}
    {% else %}
        {% include 'LoggedOutCalendar.twig' with
            {'Calendar' : Calendar, 'Today' : Today, 'OpenToSubleaseList' : OpenToSubleaseList,
                'TakenDaysOfCurrentMonth' : TakenDaysOfCurrentMonth } only %}
    {% endif %}
{% endblock %}

