{% extends 'Format.twig' %}

{% block body %}
    {% if IsRefererCalendar %}
        <p>
            <a href="{{ Referer }}">
                <button type="button" class="btn waves-effect waves-light btn-dark xx-large-font evidenced">
                    Retour
                </button>
            </a>
        </p>
    {% else %}
        <p class="top-margin-accounting"></p>
    {% endif %}
    <div class="contentplace">
        <h1 class="evidenced bottom-margin-cal">Mes emprunts actuels</h1>
        {% if CurrentPeriodSubleasesList is defined %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="evidenced black">Date du prêt</span>
                <span class="evidenced black">Prêteur | No parking</span>
            </li>
            {% for sublease in CurrentPeriodSubleasesList %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="badge badge-success badge-pill">
                        {{ sublease.day.date|date('d-m-Y') }}
                    </span>
                    {% if sublease.day.date > Today %}
                        <span class="sublease-user badge badge-primary badge-pill">
                            {{ sublease.user.firstName }} {{ sublease.user.lastName }} | {{ sublease.renterParkingNumber }}
                        </span>
                    {% else %}
                        <span class="sublease-user badge badge-primary badge-pill">
                            {{ sublease.user.firstName }} {{ sublease.user.lastName }} | {{ sublease.subleaseParkingNumber }}
                        </span>
                    {% endif %}
                </li>
            {% endfor %}
        {% endif %}
    </div>
    <span class="verticalspaces"></span>
{% endblock %}

