{% extends 'Format.twig' %}

{% block title %}Confirmation de suppression du prêt/emprunt de parking{% endblock %}

{% block body %}

    <p>
        <a href="{{ path('calendar', {'month' : SubleaseMonth, 'year' : SubleaseYear }) }}">
            <button type="button" class="btn waves-effect waves-light btn-dark xx-large-font evidenced">
                Retour
            </button>
        </a>
    </p>

    <div class="parent top-margin-cal">
        <H1 class="bottom-margin-cal">
            <span class="evidenced">Suppression du prêt/emprunt</span>
        </H1>
        <div class="child xx-large-font">
            <span class="line-break">
                <span class="evidenced darkgrey">Identifiant :</span> {{ ParkingSublease.id }}
                </span>
            <span class="line-break">
                <span class="evidenced">No de parking :</span> {{ ParkingSublease.subleaseParkingNumber }}
            </span>
            <span class="line-break">
                <span class="evidenced">Jour concerné :</span> {{ ParkingSublease.day.date|date('d-m-Y') }}
            </span>
            <span class="line-break">
                <span class="evidenced">Prêteur :</span> {{ ParkingSublease.user }}
            </span>
            <span class="line-break bottom-margin-cal">
                <span class="evidenced">Emprunteur :</span> {{ ParkingSublease.taker }}
            </span>

            <a href="{{ path('parking_sublease_remove', { 'parkingSubleaseId' : ParkingSublease.id }) }}">
                <button type="button" class="btn waves-effect waves-light btn-dark xx-large-font">
                    <span class="evidenced">Valider suppression</span>
                </button>
            </a>
        </div>
    </div>

{% endblock %}
